$backgroundColor: linear-gradient(
    to bottom,
    #9cbff2 0%,
    #010202 100%,
    #8c3310 100%,
    #bf6e4e 100%
  )
  no-repeat 50% 0;
$backgroundBlockColor: #fff;
$backgroundBlockAlpha: 0.1;
$h2Color: #fff;
$h2BgColorLogin: #6a92d7;
$h2BgColorProfile: #9c9077;
$h2BgColorDownload: #4c8d6f;
$h2BgColorLocation: #a7a176;
$font-medium: 20px;
$font-small: 14px;
$btnColorOne: #bdcee5;
$btnTextColorOne: #8f5757;
$btnColorTwo: #688dcc;
$btnTextColorTwo: #711212;
$btnColorThree: #74afd8;
$btnTextColorThree: #e3f73a;
$btnColorFour: #65a98f;
$btnTextColorFour: #fff;
$big-btn-height: 60px;
$small-btn-height: 42px;
$big-btn-br: 7px;
$small-btn-br: 5px;
$big-btn-mb: 10px;
$small-btn-mb: 8px;
$big-width: 250px;
$small-width: 174px;
